::placeholder {
    color:#ffffff;
    opacity: 1;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    border: 2px solid rgba(0, 0, 0, 0.729);
    max-width: 550px;
    max-height: 750px;
}

.input-container {
    color: #ffffff;
    background: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#input-el {
    height: 85px;
    width: 115px;
    background: none;
    border: 2px solid #B295FF;
    color: #ffffff;
    border-radius: 6px;
    font-size: 54px;
    font-weight: 800;
    text-align: center;
}

#headline {
    margin: 33px 50px;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: #ffffff;

}

#convert-btn {
    margin-top: 25px;
    margin-bottom: 33px;
    font-size: 16px;
    padding: 9px 27px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
}

#convert-btn:hover {
    background-color: #fff3b0;
}

.container {
    background: #F4F4F4;
    padding: 10px 0;
}

.convert-container {
    background: #ffffff;
    color: #353535;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 0;
    font-size: 14px;
}   

.convert-heading {
    color: #5A537B;
    font-size: 20px;
    font-weight: 600;

}
